<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.library.member.mapper.MemberMapper">

    <!-- 이메일로 회원 조회 -->
    <select id="readByEmail" parameterType="String" resultType="com.example.library.member.domain.MemberVO">
        SELECT *
        FROM member
        WHERE email = #{email}
    </select>

    <!-- 닉네임으로 회원 조회 -->
    <select id="readByNickname" parameterType="String" resultType="com.example.library.member.domain.MemberVO">
        SELECT *
        FROM member
        WHERE nickname = #{nickname}
    </select>

    <insert id="insert">

        insert into member(email, password, name, nickname, mfCode, cellNo)
        values (#{email}, #{password}, #{name}, #{nickname}, #{mfCode}, #{cellNo})

    </insert>

    <update id="update">
        update member set
        password = #{password},
        nickname = #{nickname},
        cellNo = #{cellNo}
        where email = #{email}

    </update>

</mapper>